      <div class="row">
        <aside class="col-md-3">
          <h2>Welcome</h2>
          <br>
          <p> Welcome to HR Management! This site is made for Human Resources Management.</p>
        </aside>
        <section class="main col-md-9">
          <article>
          <h2>About</h2>
          <br>
          <p>This site is made for Human Resources Management.</p>
          <p>There were 280 Employees and 7 Departments parsed from JSON file.</p>
          <p> You can add an Employee and add Image. You can see Images, Employees and Departments. </p>
          <p>If you'd like to update Employee, simply click Employee's name. If you click on email, you can send email.</p>
          <p>You can see the list of employees or certain manager ID, status(Full time or part time), or by department.</p>
          <p>Enjoy the website!</p>
          </article>
        </section>
      </div>